body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.heading h1{
    text-shadow: 0px 2px 1px rgb(13, 157, 214);
    font-weight: bold;
    color: darkcyan
}

/* -------------------------------------------------------- */
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    border-bottom: 10px solid #3498db;
    
    width: 50px;
    height: 50px;
    margin: 0px auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

    display: none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* -------------------------------------------------------- */
